// Colors
$prim-color: #136031;

$accent-color: #fee174;
$accent-color-hover: #ddba4a;

$interactive-color: #f3a25a;
$interactive-color-hover: #db813e;

$dropdown-menu-color: #fffae6;

$grey-light-color: #d9d9d9;
$grey-medium-color: #adadad;
$grey-dark-color: #6c6565;

$neutral-tint-10: #fff;
$neutral-tint-40: #eee;
$neutral-tint-100: #000;

// Shadows
$drop-shadow: 3px 3px 10px #0000002e;
